<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    {% include meta.html %}

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="">Home<small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Kontak<strong>Whatsapp</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Lihat<strong>Produk</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">Lihat<strong>Review</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>
<amp-img width="640" height="400" layout="responsive" src="https://eftyp.github.io/public/logo.png"></amp-img>
      {{ content }}
        Apa itu orang dewasa indigo dan anak indigo? Anda mungkin pernah mendengar istilah indigo dewasa dan anak indigo selama beberapa dekade terakhir. Istilah ini tidak baru seperti yang dipikirkan beberapa orang. Apakah Anda akan menemukan orang dewasa indigo dan anak indigo dalam kehidupan sehari-hari? Apa ciri-ciri kepribadian mereka? Jika Anda ingin tahu lebih banyak tentang orang indigo, atau merasa Anda salah satunya, baca terus.<br />
<br />
Apa Itu Orang Dewasa Indigo?<br />
<br />
<br />
Jadi mengapa beberapa orang bernama atau mengidentifikasi diri sebagai indigo? Mereka cenderung menjadi orang yang memiliki indera bawaan dan pemahaman spiritualitas sejak lahir. Orang tua atau pengasuh sering mengenali anak indigo ketika masih kecil. Orang dewasa indigo sensitif, intuitif, lincah, penuh kasih, cerdas, dan ingin tahu. Mereka sering didorong untuk membuat perubahan positif di dunia. Meski sering dianggap berbeda, orang dewasa dan anak-anak indigo sering kali setuju dengan hal itu. Mereka mungkin merasa senang hidup di luar kotak atau norma dalam kehidupan, dan masyarakat tempat mereka tinggal.<br />
<br />
Apa yang Dimaksud Indigo?<br />
<br />
Istilah indigo mengacu pada kepercayaan bahwa warna aura seseorang adalah warna biru/nila kerajaan. Ini adalah warna yang sama dengan chakra keenam dari tujuh chakra. Cakra ini dikatakan mewakili kesadaran, kebijaksanaan, dan koneksi ke alam spiritual.<br />
<br />
Sedikit Konteks<br />
<br />
 Deskripsi orang indigo bukanlah hal baru. Penggunaan istilah anak indigo dimulai dengan dimulainya apa yang disebut gerakan Zaman Baru pada 1960-an dan 1970-an budaya tandingan . Ini adalah periode revolusioner bagi banyak orang di masyarakat Barat. Hasilnya adalah pergeseran spiritualitas dan kesadaran dari sistem kepercayaan arus utama. Anak-anak yang diidentifikasi sebagai indigo selama periode itu sekarang menjadi orang dewasa indigo berusia 40-an dan 50-an. <br />
<br />
Kebangkitan penggunaan istilah ini terjadi lagi pada 1980-an dan 1990-an. Generasi baru mulai mengeksplorasi spiritualitas dalam konteks sistem kepercayaan alternatif. Ini termasuk merangkul keyakinan seputar reinkarnasi dari agama-agama Timur. Seiring dengan reklamasi pengetahuan intuitif dari sistem kepercayaan Eropa yang lebih tua. <br />
<br />
Istilah lain yang muncul pada periode ini adalah penggunaan anak kristal dan pelangi. Mereka yang dikenal sebagai anak kristal atau orang kristal adalah generasi yang lahir dari generasi sebelumnya dari orang tua indigo . Istilah "benih bintang" mengacu pada anak-anak atau orang yang diyakini telah berinkarnasi berkali-kali dan menjadi jiwa tua. Anak-anak indigo ini sekarang menjadi orang dewasa indigo di usia 20-an dan 30-an. <br />
<br />
Anak indigo dan orang dewasa indigo dapat menerima diagnosis alternatif dalam sistem kesehatan arus utama. Mereka mungkin menerima diagnosis gangguan hiperaktivitas defisit perhatian (ADHD.) Atau, dikatakan termasuk dalam spektrum autisme. Ada sifat dan atribut yang serupa. Ini, terutama pendekatan psikologis Barat, cenderung meniadakan pengalaman spiritual individu. <br />
<br />
Ini lebih merupakan pendekatan patologis untuk kesehatan mental dan kesejahteraan. Alih-alih masalah psikologis, beberapa antropolog sosial menempatkannya lebih pada konteks budaya . Artinya, penerimaan orang terhadap karakteristik atau sifat kepribadian yang serupa berkaitan dengan sistem kepercayaan mereka . Pendekatan ini menunjukkan bahwa konsep orang indigo mungkin berada dalam ranah gerakan keagamaan baru, atau fenomena keagamaan marjinal . <br />
<br />
Atribut Indigo Dewasa<br />
<br />
Ada banyak ciri dan atribut orang dewasa indigo dan anak indigo. Mereka mungkin menampilkan dan merasa bahwa mereka mengidentifikasi dengan nomor apa pun. Tidak ada tes atau penilaian psikologis formal. Namun, jika Anda merasa mengidentifikasi diri dengan banyak sifat di bawah ini, Anda mungkin adalah orang dewasa indigo.<br />
<br />
Spiritualitas : Orang dewasa indigo dan anak indigo biasanya memiliki rasa spiritualitas bawaan sepanjang hidup mereka. Mereka sering disebut berbakat dalam arti kreatif atau intelektual. Terutama ketika lahir dari keluarga nonspiritual atau keluarga yang lebih luas. Orang Indigo secara akut dan psikis sadar akan alam dan dimensi spiritual lainnya. Mereka sering merasa terhubung langsung dengan mereka. Terutama ketika dibesarkan di lingkungan yang menerima kepercayaan ini.<br />
<br />
Kebijaksanaan : Orang mengatakan bahwa kebijaksanaan berasal dari usia dan pengalaman. Orang dewasa indigo, cenderung menunjukkan kebijaksanaan luar biasa, jauh melampaui usia mereka, sepanjang hidup mereka. Terutama ketika mereka masih anak-anak. Ada yang mengatakan kebijaksanaan dan cinta yang dimiliki orang indigo adalah hasil dari pengalaman beberapa inkarnasi di planet ini. Yang lain menganggap orang indigo menjelma masuk dan keluar dari alam lain. Orang dewasa indigo sering dikaitkan dengan kemampuan psikis yang luar biasa.<br />
<br />
Kejelasan Intuitif : Orang dewasa indigo dan anak indigo seringkali sangat intuitif dan perseptif, sampai-sampai menjadi paranormal. Mereka sering hanya tahu atau merasa bahwa ada sesuatu yang benar atau salah, atau hanya sebentar lagi dalam hidup. Mereka memiliki pendeteksi kebohongan bawaan. Mereka biasanya dapat melihat melalui orang dan peristiwa di mana mungkin ada potensi BS atau energi buruk. Ini adalah cara psikis untuk mengetahui dan merasakan yang datang secara alami dan selalu demikian.<br />
<br />
Kepekaan : Jiwa Indigo biasanya peka secara psikis terhadap orang lain dan lingkungannya. Mereka mungkin juga memiliki kepekaan fisik. Energi dan emosi bisa tinggi, atau rendah dan depresi biasa terjadi. Perasaan mereka tentang kehidupan sangat dalam dan mereka mungkin memiliki kapasitas yang sangat besar untuk mencintai. Anak indigo dan orang dewasa indigo mungkin sangat sensitif terhadap makanan tertentu. Mereka mungkin memiliki reaksi fisik yang kuat terhadap gula, daging, dan bahan tambahan makanan. Benda-benda bertenaga listrik atau baterai mungkin tampak rusak di tubuh mereka atau di hadapan mereka. Jam tangan mungkin menyimpan waktu yang aneh, atau mekanisme peralatan mungkin salah.<br />
<br />
Perbedaan : Orang dewasa Indigo tahu dan merasa mereka berbeda dari banyak orang lain dan selalu begitu. Penerimaan ini sebagai orang dewasa tergantung pada sosialisasi mereka sebagai anak-anak dan pengalaman hidup. Seringkali mereka telah menerima hal ini dan memahami hal ini. Mereka belum tentu penyendiri. Namun, orang dewasa indigo biasanya lebih suka menyendiri dengan teman mereka sendiri daripada dengan orang lain yang tidak mengerti atau menerima mereka apa adanya. <br />
Keingintahuan Cerdas: Orang dewasa dan anak-anak Indigo adalah orang-orang yang selalu harus tahu alasannya. Alasan hanya karena tidak akan pernah cukup. Mereka suka menggunakan energi mereka untuk bagaimana segala sesuatu bekerja dalam hidup dan alasannya. Orang Indigo belum tentu cocok dengan lingkungan sekolah atau kerja umum. Mereka mungkin tidak cocok dengan konsep di balik struktur dan sistem yang kaku.<br />
<br />
Frustrasi : orang dewasa Indigo mungkin menjadi marah dengan orang yang mereka anggap melakukan sesuatu yang salah . Apalagi jika melibatkan merugikan orang lain. Untuk anak-anak dan orang dewasa, mereka mungkin mengarahkan frustrasi ini ke dalam diri mereka sendiri. Mereka mungkin juga menjadi frustrasi ketika mereka merasa tertahan. Atau, jika diberi tahu, penglihatan dan kesadaran batin mereka salah.<br />
<br />
Tujuan : Orang dewasa Indigo sering terdorong untuk mengubah dunia menjadi lebih baik. Dan mereka memiliki harga diri yang tinggi untuk melakukannya. Mereka mungkin merasa tertarik untuk bekerja sebagai aktivis. Atau dalam peran dengan kapasitas untuk membuat perubahan sosial atau lingkungan untuk kehidupan yang lebih baik bagi semua orang. Mereka membenci ketidakadilan dan merasa di situlah energi penuh atau misi hidup mereka. Mereka suka membuat perbedaan bagi orang-orang di dunia.<br />
<br />
Kreativitas : Berpikir dan bertindak kreatif pada orang dewasa dan anak indigo adalah hal yang wajar. Namun , itu bisa menjadi intens. Mereka menikmati outlet kreatif seperti seni dan musik. Orang dewasa indigo cenderung pemikir non-linier dan mampu melihat dan merasakan semua sisi. Jika orang indigo menyukai suatu tugas atau proses, mereka akan menyukainya. Mereka akan memberikan perhatian dan energi penuh mereka. Mereka akan terlepas jika ada sesuatu yang membuat mereka bosan atau berulang-ulang.<br />
<br />
Cinta dan Empati : Orang dewasa dan anak-anak Indigo cenderung merangkul keragaman kemanusiaan dan melihat semua orang diciptakan setara dalam hidup . Bahkan dengan tantangan, perasaan mereka terhadap kesalahan terhadap diri mereka sendiri dan/atau orang lain, mereka mungkin sangat berempati dengan rasa sakit orang lain . Mereka memiliki kecenderungan introvert. Ekspresi cinta dan energi lahiriah mereka dengan orang yang tidak mereka kenal sering kali tertutup. Dengan orang terdekat atau orang yang berpikiran sama, mereka benar-benar terbuka dan peduli. Mereka sering memiliki kedekatan dengan binatang dan merasa paling santai di alam sekitar .<br />
<br />
Kemungkinan Atribut Fisik Orang Dewasa Indigo<br />
<br />
Ada beberapa ciri fisik yang diyakini sebagian orang sebagai ciri orang dewasa indigo dan anak indigo . Ini termasuk:<br />
<br />
Mata : Orang Indigo mungkin memiliki mata biru atau hijau yang tegang.<br />
<br />
Corak : Warna kulit mereka mungkin terang (tidak peduli apa etnis asal mereka.)<br />
<br />
Awet Muda : Orang Indigo mungkin memiliki kecenderungan untuk tetap terlihat awet muda dan lebih muda dari mereka. Atau, mereka mungkin terlihat tua dan bijak sejak usia sangat muda sebagai anak-anak dan tetap seperti itu. Jika Anda mengenal orang indigo, Anda mungkin merasa mereka tidak pernah menua sepanjang hidup mereka.<br />
<br />
Androgini : Meskipun tidak harus bi-seksual, penampilan orang indigo mereka mungkin androgini. Penampilan fisik mereka mungkin seimbang antara maskulin dan feminin.<br />
<br />
Hidup sebagai Dewasa Indigo<br />
<br />
Berada di dunia di mana menjadi berbeda dari orang lain menciptakan stigmatisasi itu sulit. Orang yang mengidentifikasi diri sebagai orang dewasa indigo seringkali memiliki tingkat penerimaan bahwa menjadi berbeda adalah norma mereka . Menemukan cara untuk melewati label yang tidak pas yang ditempatkan pada mereka sebagai anak-anak, mereka dapat, dan memang, fokus pada atribut positif mereka . Mereka berada dalam kondisi terbaiknya ketika mengabdikan hidup, energi, dan kemampuan mereka yang luar biasa untuk mencintai demi memberi manfaat bagi umat manusia lainnya
<p>and</p>
      </section>
      <footer>
        2023
      </footer>
    </div>

  {% if site.google_analytics %}
    <amp-analytics type="googleanalytics" id="analytics1">
      <script type="application/json">
      {
        "vars": {
          "account": "{{ site.google_analytics }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
      </script>
    </amp-analytics>
  {% endif %}
  </body>
</html>

